<ul>
    <li>Name: <span>Online Bus Booking</span></li>
    <li>phone: <span>9025306569</span></li>
    <li>e-mail: <span>abcbusbooking@gmail.com</span></li>
    <li>Location: <span>Pondicherry</span></li>
    <li>Pincode: <span>605102</span></li>
</ul>