@* Title       :Online Bus Booking System
Author      :Abinash(IFET)
Created at  :01-03-2023
Updated at  :13-03-2023
Reviewed by :
Reviewed at : *@

@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
  ViewData["Title"]="Home Page";
}
@model Employee
<head><meta http-equiv='refresh'content="10000;url=https://localhost:5260/Main/SessionExpired" /></head>
<h3 class="greeting" style="color:#855AA6;margin-left:20px;">Hi,  @HttpContextAccessor.HttpContext.Session.GetString("UserName") </h3>

<div class="text-center">
    <h1 class="display-4">Online bus Booking System</h1>
    <img src="~/images/bus.png" alt="Bus Image" style="width:50%">
</div>
        <div class="content">
                <p> <b>The system is user-friendly and efficient, providing a seamless booking experience for Employees. 
         It is easy to maintain the travelling data in this System.
         It allows users to book and manage their bus tickets online. 
         The use of modern technology ensures secure transactions and reliable data management. 
         Overall, this system is a valuable addition to the travel industry,
          streamlining the booking process and enhancing customer satisfaction.</b></p>
        </div>
        <br></br>
        <a asp-controller="Dashboard" asp-action="bookRide">
           <button class="Submit">Book Ride</button>
        </a>
<style>
button{
  font-size: large;
  background-color: #855AA6;
  position:relative;
  text-align: center;
  margin-left: 40%;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: whitesmoke;
  border-radius: 5px;
}.submit{
  border: 2px solid black;
}
.submit:hover{
  box-shadow: 2px 5px 5px  #523c63;
}
</style>