@* Title       :Online Bus Booking System
Author      :Abinash(IFET)
Created at  :01-03-2023
Updated at  :13-03-2023
Reviewed by :
Reviewed at : *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online bus Booking System</h1>
    <img src="~/images/bus logo1.png" alt="Bus Image" style="width:50%">
</div>
        <div class="content">
                <p> <b>The system is user-friendly and efficient, providing a seamless booking experience for Employees. 
         It is easy to maintain the travelling data in this System.
         It allows users to book and manage their bus tickets online. 
         The use of modern technology ensures secure transactions and reliable data management. 
         Overall, this system is a valuable addition to the travel industry,
          streamlining the booking process and enhancing customer satisfaction.</b></p>
        </div>

